<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MiTubeMobileApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MiTube"
        android:theme="@style/Theme.MiTube"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MiTube">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".ui.PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.MiTube.Translucent" />

        <service
            android:name="com.mitube.core.service.ProxyForegroundService"
            android:foregroundServiceType="mediaProjection"
            android:exported="false" />
    </application>

</manifest>
