<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="subdivx" connectionString="User ID=subdivx; Password=subdivx; Persist Security Info=True; Initial Catalog=subdivx; Data Source=localhost\SQL2016;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="DB" value="subdivx"/>

    <add key="BaseUrl" value="https://www.subdivx.com"/>
    <add key="PagerUrl" value="/X46X-subtitulos.html?pg="/>
    
    <add key="MinPageNumber" value="1"/>
    <add key="MaxPageNumber" value="30"/>
    
    <add key="DownloadsPageCount" value="50000"/>
    <add key="DownloadsPath" value="D:\Subdivx"/>
  </appSettings>
  
</configuration>