<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpsBinding"
            allowCookies="true"
            maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint name="AgendaService"
          address="https://web.tecno-red.com.ar/app2app/agenda/AgendaService.svc"
          binding="basicHttpBinding"
          bindingConfiguration="httpsBinding"
          contract="TecnoRedService.AgendaService"/>
    </client>
  </system.serviceModel>


  <appSettings>
    <add key="Ticket" value="meRidioTest114"/> <!-- DEV -->
    <!--<add key="Ticket" value="hTT5k9m2R34419" />--> <!--PROD-->
  </appSettings>

</configuration>
