<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RepositorioOrigen" value="D:\Sources\sspv\Bitbucket-WSPL"/>
		<add key="RepositorioDestino" value="D:\Sources\sspv\GitLab-WSPL"/>
		<add key="GitLab-Dll" value="Meridional_SharedLibraries\SharedLibrariesNetFramework481"/>
		<add key="BitBucket-SharedLibraries" value="D:\Sources\sspv\Bitbucket-SSPV-GitFlow\SharedLibrariesNetFramework481"/>
	</appSettings>
</configuration>