<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- SQL Server connection string -->
    <add key="DBConnectionString" value="Server=localhost\SQL2012;Database=SEGUROS;User Id=seguros;Password=seguros;"/>

    <!-- Path must have trailing slash -->
		<add key="SQLBackupLocation" value="C:\TEMP\SQL\"/>

    <!-- Path must have trailing slash -->
		<add key="LoggingPath" value="C:\TEMP\SQL\logs\"/>

    <!-- Boolean-->
		<add key="DateStampBackupFiles" value="True"/>

    <!-- Boolean-->
		<add key="DeleteOldBackups" value="True"/>

    <!-- Integer -->
		<add key="DeleteBackupsAfterDays" value="28"/>

    <!-- Integer -->
		<add key="ConsoleWaitBeforeCloseSeconds" value="60"/>

    <!-- Database to Backup -->
		<add key="DatabaseToBackup" value="WSSBSSSS"/>

    <!-- Make a ZIP File -->
		<add key="MakeZipFile" value="True"/>

    <!-- Folder to Add in ZIP File -->
    <add key="FoldersToZip" value="E:\SQL\images"/>

    <!-- Integer -->
    <add key="CompressionLevel" value="6"/>

    <!-- Integer -->
    <add key="BufferSize" value="10"/>

    <!-- CMD Timeout -->
    <add key="CMDTimeout" value="15"/>
  </appSettings>
</configuration>
